.btn{
	width:40px;
	height:40px;
	background-image: url("../UI/mail.png");
	background-repeat: no-repeat;
	background-size: 40px 40px;
	margin-left: 63%;
}
.Mailbtn{
	width:40px;
	height:34px;
	background-image: url("../UI/mail.png");
	background-repeat: no-repeat;
	background-size: 40px 34px;
	margin-left: 170px;
	margin-top: 45px;
	position: fixed;
}
 .container{
 	max-width: 1170px;
 	margin-top: -11%;
 }
 .row{
 	display: flex;
 	flex-wrap: wrap;
 }
.section-title{
	flex:0 0 100%;
	max-width: 100%;
	margin-bottom: 60px;
}
.section-title h1{
	text-align: center;
	font-size: 36px;
	color:#000000;
}
 .services{
 	min-height: 100vh;
 	padding:80px 0;
 }

.services .service-items{
	flex:0 0 100%;
	max-width: 100%;
}
.services .service-items .item{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding: 15px;
}

.services .service-items .item-inner{
	border:1px solid #dddddd;
	padding: 30px;
}
.services .service-items .read-more-cont{
	display: none;
}
.services .service-items .item-inner h3{
	font-size: 20px;
	color:#000000;
	margin-bottom: 30px;
	position: relative;
}
.services .service-items .item-inner h3::before{
  content: '';
  height: 1px;
  width: 80px;
  background-color: #000000;
  position: absolute;
  left:0;
  bottom:-10px;
}

.services .service-items .item-inner p{
	color:#555555;
	font-size: 16px;
	margin:0 0 30px;
}
.services .service-items .item-inner .btn{
	font-size: 16px;
	background-color: transparent;
	border:1px solid #555555;
	color:#555555;
	padding: 8px 15px;
	cursor: pointer;
}

.popup-box{
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.5);
	z-index: 500;
	visibility: hidden;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
.popup-box.open{
  visibility: visible;
	opacity:1;
}
.popup-box .popup-content{
	background-color: #ffffff;
	width: 400px;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	border-radius: 8px;
}

.popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 1px solid #dddddd;
}
.popup-box .popup-header h3{
	margin:0;
	color:#E91E63;
	font-size: 20px;
}
.popup-box .popup-header .popup-close-icon{
	position: absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #555555;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.popup-box .popup-body{
	padding: 15px;
	max-height: 300px;
	overflow-y: auto;
}
.popup-box .popup-body img{
	width: 100%;
	display: block;
	margin-top: 15px;
}
.popup-box .popup-body p{
	font-size: 16px;
	color:#555555;
	margin:0 0 15px;
}
.popup-box .popup-footer{
	padding: 15px;
	border-top:1px solid #dddddd;
	text-align: right;
}
.popup-box .popup-footer .btn{
	padding: 8px 15px;
	border:1px solid #555555;
	color:#555555;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 4px;
}
.popup-box .popup-footer .btn:focus{
	outline: none;
}


/*responsive*/

@media(max-width: 767px){
	.services .service-items .item{
	  flex:0 0 100%;
      max-width: 100%;
   }
   .popup-box .popup-content{
   	 width: calc(100% - 30px);
   }
   .container {
	margin-left: -45%;
	margin-top: -30%;
   }
   .Mailbtn{
	width:40px;
	height:34px;
	background-image: url("../UI/mail.png");
	background-repeat: no-repeat;
	background-size: 40px 34px;
	margin-left: 160px;
	margin-top: 42px;
	position: fixed;
}
}






